@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&family=Source+Code+Pro:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Source Code Pro', monospace; */
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#EFEFFF,#CCCBFF);
}

.swiper{
    min-width: 30rem;
}

.wrapper{
    max-width: 1100px;
    padding: 20px 10px;
    margin: 0 60px 35px;
    /* overflow: hidden; */
}

.wrapper .card{
    height: auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    padding: 3px;
    margin: 10px;
    transition: all .3s ease;

}

.wrapper .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
}

.card .card-image {
    position: relative;
}

.card .card-image img{
    width: 100%;
    border-radius: 22px;
    padding: 10px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card .card-image .card-tag{
    position: absolute;
    left: 25px;
    top: 25px;
    border-radius: 30px;
    font-size: 0.75rem;
    padding: 5px 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #6366f1;
    background: rgba(255, 255, 255, 0.9);
}

.card .card-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 25px 25px;
}

.card .card-content .card-title{
    color: #111111;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
}

.card .card-content .card-text{
    color: #747474;
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 20px;
}

.card .card-content .card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    margin-top: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card .card-content .card-footer .card-profile{
    display: flex;
    align-items: center;
}

.card .card-profile img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


.card .card-profile .card-profile-into{
    display: flex;
    flex-direction: column;
}

.card .card-profile-into .card-profile-name{
    color: #202020;
    font-size: .9rem;
    font-weight: 680;
    line-height: 1.3;
}

.card .card-profile-into .card-profile-role{
    color: #747474;
    font-size: .75rem;
    font-weight: 600;
}

.card .card-button{
    text-decoration: none;
    color: #fff;
    font-size: .81rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0  8px 15px rgba(99, 102, 241 , 0.3);
    background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%);
    transition: all .3s ease;
}

.card .card-button:hover{
    transform: translateY(-3px);
    box-shadow: 0  8px 15px rgba(99, 102, 241 , 0.7);
    background: linear-gradient(135deg, #8b5cf6 0%, #6366f1 100%);
}

.wrapper .swiper-pagination-bullet{
    height: 15px;
    width: 15px;
    overflow: hidden;
    opacity: 1;
    background: #B1B3F8;
}

.wrapper .swiper-pagination-bullet-active::before{
    content : "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #6366f1;
    transform: scaleX(0);
    transform-origin: left center;
    animation: autoplay-loading 2s linear forwards;
}

@keyframes autoplay-loading {
    100%{
        transform: scaleX(1);
    }
}

.container:hover .wrapper .swiper-pagination-bullet-active::before{
    animation-play-state: paused;
}


.wrapper :where(.swiper-button-prev , .swiper-button-next){
    color: #6366f1;
    margin-top: -35px;
    transition: all .3s ease;
}

.wrapper :where(.swiper-button-prev , .swiper-button-next):hover{
    color: #8b5cf6;
}

@media screen and (max-width: 768px) {
    .wrapper{
        margin: 0 10px 25px;
    }

    .wrapper .swiper-button-prev , .wrapper .swiper-button-next {
        display: none;
    }
    
} 
